@model Newone.Models.Instructor

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminDashboard/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Instructor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" enctype="multipart/form-data" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InstructorName" class="control-label"></label>
                <input asp-for="InstructorName" class="form-control" />
                <span asp-validation-for="InstructorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstructorImg" class="control-label"></label>
                <input asp-for="InstructorImg" type="file"class="form-control" />
                <span asp-validation-for="InstructorImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstructorPosition" class="control-label"></label>
                <input asp-for="InstructorPosition" class="form-control" />
                <span asp-validation-for="InstructorPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tw" class="control-label"></label>
                <input asp-for="Tw" class="form-control" />
                <span asp-validation-for="Tw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fb" class="control-label"></label>
                <input asp-for="Fb" class="form-control" />
                <span asp-validation-for="Fb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

