@model Newone.Models.LatestCourse

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/AdminDashboard/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>LatestCourse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LatestCourseId" />
            <div class="form-group">
                <label asp-for="CName" class="control-label"></label>
                <input asp-for="CName" class="form-control" />
                <span asp-validation-for="CName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseDesc" class="control-label"></label>
                <textarea asp-for="CourseDesc" class="form-control"></textarea>
                <span asp-validation-for="CourseDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseImg" class="control-label"></label>
                <input asp-for="CourseImg" type="file" class="form-control" />
                <span asp-validation-for="CourseImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hours" class="control-label"></label>
                <input asp-for="Hours" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic" class="control-label"></label>
                <input asp-for="Topic" class="form-control" />
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place" class="control-label"></label>
                <input asp-for="Place" class="form-control" />
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CStart" class="control-label"></label>
                <input asp-for="CStart" class="form-control" />
                <span asp-validation-for="CStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="blockQute" class="control-label"></label>
                <input asp-for="blockQute" class="form-control" />
                <span asp-validation-for="blockQute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoreDescription" class="control-label"></label>
                <input asp-for="MoreDescription" class="form-control" />
                <span asp-validation-for="MoreDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

