@model IEnumerable<Article>

    <!-- Start from blog -->
    <section id="mu-from-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-from-blog-area">
                        <!-- start title -->
                        <div class="mu-title">
                            <h2>Our Article</h2>
                            <p>Read to Discover</p>
                        </div>
                        <!-- end title -->
                        <!-- start from blog content   -->
                        <div class="mu-from-blog-content">
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-md-4 col-sm-4">
                                        <article class="mu-blog-single-item">
                                            <figure class="mu-blog-single-img">
                                                <a href="#">
                                                    <img src="@Url.Content(item.ArticleImg) " alt="img"></a>
                                            <figcaption class="mu-blog-caption">
                                                    <h3><a >@item.Title</a></h3>
                                                    </figcaption>
                                            </figure>
                                            <div class="mu-blog-meta">
                                                <a href="#">@item.UserName</a>
                                                <a href="#">.....</a>
                                                <span><i class="fa fa-comments-o"></i>87</span>
                                            </div>
                                            <div class="mu-blog-description">
                                                <p>@item.Desc</p>
                                                <a class="mu-read-more-btn" href="https://en.wikipedia.org/wiki/History_of_artificial_intelligence">Read More</a>
                                            </div>
                                        </article>
                                    </div>
                               
                                }
                       
                            </div>
                        </div>
                        <!-- end from blog content   -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End from blog -->