@model  EditprofileViewModel
@{
    ViewData["Title"] = "EditPUser";
    Layout = "~/Areas/UserDashboard/Views/Shared/_UserLayout.cshtml";
}



<form asp-action="EditProfile" asp-controller="EditUser"  enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="CompenyName" class="control-label">CompenyName</label>
        <input type="text" value="NEXTWO" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Eamil" class="control-label">Email</label>
        <input type="text" asp-for="Eamil" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label">UserName</label>
        <input type="text" asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label">LastName</label>
        <input type="text" asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">FirstName</label>
        <input type="text" asp-for="FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="City" class="control-label">City</label>
        <input type="text" asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Aboutme" class="control-label">Aboutme</label>
        <input type="text" asp-for="Aboutme" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label">Address</label>
        <input type="text" asp-for="Address" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Domain" class="control-label">Domain</label>
        <input type="text" asp-for="Domain" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Facebook" class="control-label">Facebook</label>
        <input type="text" asp-for="Facebook" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Aboutme" class="control-label">UserName</label>
        <input type="text" asp-for="Aboutme" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Twitter" class="control-label">Twitter</label>
        <input type="text" asp-for="Twitter" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Gender" class="control-label">Gender</label>
        <input type="text" asp-for="Gender" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Glinked" class="control-label">GmailOr linkidn</label>
        <input type="text" asp-for="Glinked" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Userbackground" class="control-label">Userbackground</label>
        <input  asp-for="Userbackground" class="form-control"  type="file" />
    </div>
    <div class="form-group">
        <label asp-for="Pic" class="control-label">User Picture </label>
        <input  asp-for="Pic" type="file" class="form-control" />
    </div>


    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
</form>


